<div class="news_box_full">
	<h2>Обновлённый codbox.org</h2>
	<div class="news_details">
		<ul>
			<li>9 марта 2017 <span class="divider"></span></li>
			<li><a href="#">Новости</a></li>
		</ul>
	</div>

	<div class="news_content">
	
		<p>
		Отличные новости для тех, кто работает с публикациями, занимается рекламными метриками или просто не любит громоздкие ссылки. 
		<br><br>
		Мы прокачали codbox.org — наш сервис для сокращения ссылок. Теперь он умеет считать статистику переходов и отдавать информацию через API.
		<br><br>
		<h4>Зачем нужен vk.cc?</h4>
		Чтобы превращать длинные и неуклюжие ссылки в короткие и аккуратные.
		</p>
		<blockquote>До: <br>
			<b>www.cybersport.ru/news/skripty-dlya-botov-dobavleny-v-workshop-dota-2</b>
			<br><br>
			После: <br>
			<b>codbox.org/6iXcdC</b> <br>
		</blockquote>
		<br>
		Такие ссылки радуют глаз и отлично вписываются в любой текст: 
		<br>
		<img src="img/statistic.jpg" alt="">
	</div>
	
	<div class="news_footer">
		<ul>
			<li><a href="#">Технологии</a></li>
			<li><a href="#">Новости</a></li>
		</ul>
	</div>
</div>