<div class="news_box">
	<h2>Обновлённый codbox.org</h2>
	<div class="news_details">
		<ul>
			<li>9 марта 2017 <span class="divider"></span></li>
			<li>Новости</li>
		</ul>
	</div>
	<div class="news_content">
	<div class="news_first_img_box">
		<img src="img/news_prew.jpg" class="news_first_img" alt="Обновлённый vk.cc">
	</div>
	
		<p>
		Отличные новости для тех, кто работает с публикациями, занимается рекламными метриками или просто не любит громоздкие ссылки. 
		<br><br>
		Мы прокачали codbox.org — наш сервис для сокращения ссылок. Теперь он умеет считать статистику переходов и отдавать информацию через API.
		</p>
	</div>
	<h4 class="read_more"><a href="read-more">Читать дальше »</a></h4>
	<div class="news_footer">
		<ul>
			<li><a href="#">Технологии</a></li>
			<li><a href="#">Новости</a></li>
		</ul>
	</div>
</div>

<div class="news_box">
	<h2>11 полезных приёмов в JavaScript</h2>
	<div class="news_details">
		<ul>
			<li>20 марта 2017 <span class="divider"></span></li>
			<li>Новости</li>
		</ul>
	</div>
	<div class="news_content">
	<div class="news_first_img_box">
		<img src="img/news_prew2.jpg" class="news_first_img" alt="Обновлённый vk.cc">
	</div>
	
		<p>
		Отличные новости для тех, кто работает с публикациями, занимается рекламными метриками или просто не любит громоздкие ссылки. 
		<br><br>
		Мы прокачали codbox.org — наш сервис для сокращения ссылок. Теперь он умеет считать статистику переходов и отдавать информацию через API.
		</p>
	</div>
	<h4 class="read_more"><a href="read-more">Читать дальше »</a></h4>
	<div class="news_footer">
		<ul>
			<li><a href="#">Технологии</a></li>
			<li><a href="#">Новости</a></li>
		</ul>
	</div>
</div>

